<h2>Register</h2>
<form #registerForm="ngForm" (ngSubmit)="register()">
  <input
    type="email"
    name="email"
    placeholder="Email"
    [(ngModel)]="email"
    required
  />
  <input
    type="password"
    name="password"
    placeholder="Password"
    [(ngModel)]="password"
    required
  />
  <button type="submit" [disabled]="registerForm.invalid">Register</button>
</form>

<app-button
  variant="outline"
  label="Entrar com Google"
  (onClick)="registerWithGoogle()"
></app-button>
<br />
<br />
<app-button
  label="Já é cadastrado? Ir para Login"
  (onClick)="navigateToLogin()"
></app-button>
