:host {
  display: inline-flex;
}

button {
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
}

button {
  cursor: pointer;

  > i {
    display: inline-flex;
    width: 18px;
    height: 18px;
    background-color: currentColor;
  }
}

button:disabled {
  cursor: not-allowed;
}

@import url(./styles/icon.scss);
@import url(./styles/outline.scss);
@import url(./styles/primary.scss);
@import url(./styles/text.scss);
