<h1>{{ isEditMode ? "Editar unidade" : "Criar unidade" }}</h1>

<form [formGroup]="form" (ngSubmit)="submit()">
  <app-input
    label="Pergunta"
    formControlName="name"
    name="name"
    placeholder="Nome da unidade"
    htmlId="question"
  ></app-input>

  <label>
    Conselheiros:
    <select formControlName="counselors" multiple>
      <option *ngFor="let user of counselors" [value]="user.uid">
        {{ user.name }}
      </option>
    </select>
  </label>

  <button type="submit">Save</button>
</form>
