:host {
  width: 100%;
  background: var(--theme-surface);
  color: var(--color-text-low);
  padding: 16px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  .header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px;
  }
}
