:root {
  --icon-add-24dp: url(./24dp/add_24dp.svg);
  --icon-edit-24dp: url(./24dp/edit_24dp.svg);
  --icon-home-24dp: url(./24dp/home_24dp.svg);
  --icon-link-24dp: url(./24dp/link_24dp.svg);
  --icon-login-24dp: url(./24dp/login_24dp.svg);
  --icon-logout-24dp: url(./24dp/logout_24dp.svg);
  --icon-diversity-3-24dp: url(./24dp/diversity_3_24dp.svg);
  --icon-delete-24dp: url(./24dp/delete_24dp.svg);
  --icon-groups-2-24dp: url(./24dp/groups_2_24dp.svg);
  --icon-rate-review-24dp: url(./24dp/rate_review_24dp.svg);
  --icon-star-24dp: url(./24dp/star_24dp.svg);
  --icon-tenancy-24dp: url(./24dp/tenancy_24dp.svg);
  --icon-google-24dp: url(google.svg);
}
