:root {
  --icon-add-24dp: url(./24dp/add_24dp.svg);
  --icon-edit-24dp: url(./24dp/edit_24dp.svg);
  --icon-home-24dp: url(./24dp/home_24dp.svg);
  --icon-link-24dp: url(./24dp/link_24dp.svg);
  --icon-login-24dp: url(./24dp/login_24dp.svg);
  --icon-logout-24dp: url(./24dp/logout_24dp.svg);
  --icon-diversity-3-24dp: url(./24dp/diversity_3_24dp.svg);
  --icon-google-24dp: url(google.svg);
}
