html.light-theme {
  --theme-primary: #0d47a1;
  --theme-on-primary: #ffffff;

  --theme-background: #ffffff;
  --theme-surface: #f5f5f5;

  --theme-high: #212121;
  --theme-low: #666666;
  --theme-lowest: #aaaaaa;

  --color-primary: var(--theme-primary);
  --color-on-primary: var(--theme-on-primary);
  --color-hover: #195abf;
  --color-pressed: #0a357a;
  --color-outline: #82b1ff;

  --color-text-high: var(--theme-high);
  --color-text-low: var(--theme-low);
  --color-text-lowest: var(--theme-lowest);
}

html.dark-theme {
  --theme-primary: #5472d3;
  --theme-on-primary: #000000;

  --theme-background: #121212;
  --theme-surface: #1e1e1e;

  --theme-high: #ffffff;
  --theme-low: #cccccc;
  --theme-lowest: #777777;

  --color-primary: var(--theme-primary);
  --color-on-primary: var(--theme-on-primary);
  --color-hover: #6b86e0;
  --color-pressed: #3f5eb1;
  --color-outline: #8ea6f3;

  --color-text-high: var(--theme-high);
  --color-text-low: var(--theme-low);
  --color-text-lowest: var(--theme-lowest);
}

:root {
  --color-success: #4caf50;
  --color-on-success: #ffffff;
  --color-success-hover: #66bb6a;
  --color-success-pressed: #388e3c;
  --color-success-outline: #a5d6a7;

  --color-error: #f44336;
  --color-on-error: #ffffff;
  --color-error-hover: #ef5350;
  --color-error-pressed: #c62828;
  --color-error-outline: #ef9a9a;

  --color-warning: #ff9800;
  --color-on-warning: #000000;
  --color-warning-hover: #ffb74d;
  --color-warning-pressed: #ef6c00;
  --color-warning-outline: #ffe082;

  --color-info: #2196f3;
  --color-on-info: #ffffff;
  --color-info-hover: #42a5f5;
  --color-info-pressed: #1565c0;
  --color-info-outline: #90caf9;
}
