/* You can add global styles to this file, and also import other style files */
:host {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body,
html {
  background: var(--theme-background);
}

@import url(./app/shared/styles/theme.scss);
